@using Tourism.ViewModel
@model List<ServiceRequestsViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Provider ID</th>
            <th>Service ID</th>
            <th>Service Name</th>
            <th>Date added</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.id</td>
                <td>@item.providerId</td>
                <td>@item.serviceId</td>
                <td>@item.service_name</td>
                <td>@item.date</td>
                <td>
                    <form asp-controller="Admin" asp-action="ViewProduct" method="get" style="display:inline;">
                        <input type="hidden" name="id" value="@item.serviceId" />
                        <button type="submit" class="btn btn-warning btn-sm">View Request</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
